@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=keyboard_arrow_down");

:root {
    /* Colors */
    --peach: #f26363;
    --pink: #f24b6a;
    --navy-blue: #3b3c59;
    --black: #202026;
    --white: #f2f2f2;

    /* Font Families */
    --font-primary: 'Vend Sans';

    /* Font Sizes */
    --font-size-small: 14px;
    --font-size-medium: 18px;
    --font-size-large: 24px;
    --font-size-extra-large: 30px;

    /* Spacing */
    --spacing-small: 12px;
    --spacing-medium: 16px;
    --spacing-large: 24px;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--white);
    font-family: var(--font-primary), serif;
    font-size: var(--font-size-small);
    line-height: 1.6;
}

header {
    padding: 2rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--peach);
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: middle;
}

.logo {
    margin-right: 5rem;
}

.logo a {
    font-weight: bold;
    font-size: var(--font-size-extra-large);
    text-decoration: none;
    color: var(--white);
}

.menu ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-large);
    color: var(--white);
}


.menu ul li a {
    font-size: var(--font-size-small);
    font-weight: 500;
    text-decoration: none;
    color: var(--white);
}

header .auth-buttons {
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.auth-buttons button {
    font-family: var(--font-primary) serif;
    font-size: var(--font-size-small);
    font-weight: 600;
    border-radius:  50px;
    padding: 0.7rem 2rem;
    border: none;
    background-color: transparent;
    color: var(--white);
    transition: 0.4s ease;
}

.auth-buttons button:hover {
    border: none;
    background-color: var(--white);
    color: var(--peach);
    cursor: pointer;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

.main-page {
    background-color: var(--peach);
    width: 100%;
    height: 40vh;
    justify-items: center;
    align-content: center;
    border-radius: 0 0 0 8rem;
}

.main-content p {
    color: var(--white);
    font-weight: 500;
    font-size: var(--font-size-small);
    text-align: center;
}

.main-buttons {
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.main-buttons button {
    font-family: var(--font-primary) serif;
    font-size: var(--font-size-small);
    font-weight: 600;
    border-radius:  50px;
    padding: 0.7rem 2rem;
    border: solid 1px var(--white);
    background-color: transparent;
    color: var(--white);
    transition: 0.4s ease;
}

.main-buttons button:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--peach);
}


.description-section {
    padding-left: 6rem;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 5rem;
}

.description-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    align-items: center;
}

.description-section h2 {
    text-align: center;
    color: var(--navy-blue);
    font-size: var(--font-size-extra-large);
    margin-bottom: 5rem;
}

